<div id="appContainer">
   <app-header-admin></app-header-admin>
   <div class="adminRegister">
      <h2>Дані про Ваш притулок</h2>
      <div class="register">
         <div class="container-fluid">
            <div class="row">
               <div id="CardStyle" class="card justify-content-center">
                  <div>
                     <button class="btn" routerLink="/changeAccount" [class.btn-outline-primary]="flag" type="button"
                        style="width: 50%;" (click)="apply('changeShelterAccounter')">Змінити дані
                        Адміністратора</button>
                     <button class="btn" routerLink="/changeShelter" type="button" style="width: 50%;"
                        (click)="apply('changeAdminData')" disabled>Змінити дані про
                        притулок</button>
                  </div>

                  <div class="card-body">
                     <div *ngIf="flag">
                        <form #userForm="ngForm" [formGroup]="accountShelterChange" (ngSubmit)="change()">
                           <div class="form-group">

                              <label for="name" class="fas fa-hotel"></label>
                              <input type="text" placeholder="Введіть назву притулку" formControlName="name" ngModel>
                              <span class="text-danger"
                                 *ngIf="accountShelterChange.controls.name.errors && accountShelterChange.controls.name.touched">
                                 <br>Назва притулку обов'язкова
                              </span>
                           </div>

                           <div class="form-group">
                              <label for="longtitude" class="fas fa-map-marked-alt"></label>
                              <input type="text" placeholder="Введіть координaти довготи" formControlName="longtitude"
                                 class="num" ngModel>
                              <span class="text-danger"
                                 *ngIf="accountShelterChange.controls.longtitude.errors && accountShelterChange.controls.longtitude.touched">
                                 <br>Координати довготи обов'язкові. Тільки цифри
                              </span>
                           </div>
                           <div class="form-group">
                              <label for="latitude" class="fas fa-map-marked-alt"></label>
                              <input type="text" placeholder="Введіть координaти широти" formControlName="latitude"
                                 ngModel class="num">
                              <span class="text-danger"
                                 *ngIf="accountShelterChange.controls.latitude.errors && accountShelterChange.controls.latitude.touched">
                                 <br>Координати широти обов'язкові.
                              </span>
                           </div>

                           <div class="form-group">
                              <label for="phone" class="fas fa-mobile"></label>
                              <input type="phone" placeholder="Номер мобільного телефону" formControlName="phone"
                                 ngModel>
                              <span class="text-danger"
                                 *ngIf="accountShelterChange.controls.phone.errors && accountShelterChange.controls.phone.touched">
                                 <br>Недійсний номер мобільного телефону
                              </span>
                           </div>

                           <div class="form-group">
                              <label for="email" class='fas fa-envelope'></label>
                              <input type="email" placeholder="Адреса електронної пошти " formControlName="email"
                                 ngModel>
                              <span class="text-danger"
                                 *ngIf="accountShelterChange.controls.email.errors && accountShelterChange.controls.email.touched">
                                 <br>Невірна адреса електронної пошти</span>
                           </div>

                           <div class="form-group">
                              <label for="siteUrl" class="fas fa-link"></label>
                              <input type="text" placeholder="Введіть посилання на сайт притулку"
                                 formControlName="siteUrl" ngModel>
                              <span class="text-danger"
                                 *ngIf="accountShelterChange.controls.siteUrl.errors && accountShelterChange.controls.siteUrl.touched"><br>
                                 Посилання на сайт обов'язкове
                              </span>
                           </div>
                           <div class="text-center">
                              <button id="submitButton" type="submit" class="btn btn-primary"
                                 routerLink="/account">Зберегти</button>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
