<div id="appContainer">
   <app-header-unreg></app-header-unreg>
   <div class="login">
      <div class="container-fluid">
         <div class="row">
            <div id="CardStyle" class="card justify-content-center">

               <div>
                  <button class="btn" routerLink="/login" type="button" style="width: 50%;" (click)="apply('login')"
                     disabled>Увійти</button>
                  <button class="btn" routerLink="/regist" [class.btn-outline-primary]="flag" type="button"
                     style="width: 50%;" (click)="apply('reg')">Реєстрація</button>
               </div>

               <div class="card-body">
                  <div *ngIf="flag">
                     <form [formGroup]="loginForm" (ngSubmit)="login()">


                        <div class="form-group">
                           <label for="email" class='fas fa-envelope'></label>
                           <input id="email" type="email" placeholder="Адреса електронної пошти " formControlName="email">
                           <span class="text-danger"
                              *ngIf="loginForm.controls.email.errors && loginForm.controls.email.touched">
                              <br>Невірна адреса електронної пошти</span>
                        </div>

                        <div class="form-group">
                           <label for="password" class="fas fa-lock"></label>
                           <input id="password" type="password" placeholder="Пароль " formControlName="password">
                           <span class="text-danger"
                              *ngIf="loginForm.controls.password.errors && loginForm.controls.password.touched">
                              <br>Недійсний пароль
                           </span>
                        </div>

                        <div class="text-center">
                           <button id="submitButton" type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Увійти</button>
                        </div>
                     </form>
                    <div class="sign-in-with">
                      <div class="row">
                        <button class="btn sign-google">
                          <div>
                            <img width="25px" style="margin-bottom:3px; margin-right: 5px;" alt="Google sign-in"
                                 src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
                            Увійти за допомогою Google
                          </div>
                        </button>

                        <button class="btn sign-facebook">
                          <div>
                            <img width="35px" style="margin-bottom:3px; " alt="Facebook sign-in"
                                 src="https://thumbs.dreamstime.com/b/print-204672012.jpg"/>
                            Увійти за допомогою Facebook
                          </div>
                        </button>
                      </div>
                    </div>
                  </div>
               </div>

            </div>

         </div>
      </div>
      <!-- </div> -->
   </div>
</div>
