<div id="appContainer">
   <app-header-admin></app-header-admin>
   <div class="adminRegister">
      <h2>Заповніть будь-ласка усі поля про свій притулок</h2>
      <div class="register">
         <div class="container-fluid">
            <div class="row">
               <div id="CardStyle" class="card justify-content-center">
                  <div class="card-body">
                     <form #userForm="ngForm" [formGroup]="adminRegForm" (ngSubmit)="regForm()">
                        <div class="form-group">

                           <label for="name" class="fas fa-hotel"></label>
                           <input id="name" type="text" placeholder="Введіть назву притулку" formControlName="name" ngModel>
                           <span class="text-danger"
                              *ngIf="adminRegForm.controls.name.errors && adminRegForm.controls.name.touched">
                              <br>Назва притулку обов'язкова
                           </span>
                        </div>

                        <div class="form-group">
                           <label for="longitude" class="fas fa-map-marked-alt"></label>
                           <input id="longitude" type="text" placeholder="Введіть координaти довготи" formControlName="longitude"
                              class="num" ngModel>
                           <span class="text-danger"
                              *ngIf="adminRegForm.controls.longitude.errors && adminRegForm.controls.longitude.touched">
                              <br>Координати довготи обов'язкові. Тільки цифри
                           </span>
                        </div>
                        <div class="form-group">
                           <label for="latitude" class="fas fa-map-marked-alt"></label>
                           <input id="latitude" type="text" placeholder="Введіть координaти широти" formControlName="latitude" ngModel
                              class="num">
                           <span class="text-danger"
                              *ngIf="adminRegForm.controls.latitude.errors && adminRegForm.controls.latitude.touched">
                              <br>Координати широти обов'язкові. Тільки цифри
                           </span>
                        </div>

                        <div class="form-group">
                           <label for="phone" class="fas fa-mobile"></label>
                           <input id="phone" type="phone" placeholder="Номер мобільного телефону" formControlName="phone" ngModel>
                           <span class="text-danger"
                              *ngIf="adminRegForm.controls.phone.errors && adminRegForm.controls.phone.touched">
                              <br>Недійсний номер мобільного телефону
                           </span>
                        </div>

                        <div class="form-group">
                           <label for="email" class='fas fa-envelope'></label>
                           <input id="email" type="email" placeholder="Адреса електронної пошти " formControlName="email" ngModel>
                           <span class="text-danger"
                              *ngIf="adminRegForm.controls.email.errors && adminRegForm.controls.email.touched">
                              <br>Невірна адреса електронної пошти</span>
                        </div>

                        <div class="form-group">
                           <label for="siteUrl" class="fas fa-link"></label>
                           <input id="siteUrl" type="text" placeholder="Введіть посилання на сайт притулку" formControlName="siteUrl"
                              ngModel>
                           <span class="text-danger"
                              *ngIf="adminRegForm.controls.siteUrl.errors && adminRegForm.controls.siteUrl.touched"><br>
                              Посилання на сайт обов'язкове
                           </span>
                        </div>

                        <div class="text-center">
                           <button id="submitButton" type="submit" class="btn btn-primary"
                              [disabled]="!adminRegForm.valid">Зареєструвати
                              притулок</button>
                        </div>
                     </form>
                    <button (click)="getShelterId()" class="btn btn-primary">Увійти</button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
