<div id="appContainer">
  <app-header-unreg></app-header-unreg>
  <div class="block-info container-fluid">
    <div class="infobox row">
      <h2>Дані про тварину</h2>
      <div class="data">
        <img src="{{animal.imageUrl}}" alt="">
      </div>
      <div class="data">
        <p class="dataTitle">Кличка тварини:</p>
        <p>{{animal.name}}</p>
      </div>
      <div class="data">
        <p class="dataTitle">Вік тварини:</p>
        <p>{{animal.age}}</p>
      </div>
      <div class="data">
        <p class="dataTitle">Вид тварини:</p>
        <p>{{animal.species}}</p>
      </div>
      <div class="data">
        <p class="dataTitle">Стать тварини:</p>
        <p>{{animal.gender}}</p>
      </div>
      <div class="data">
        <p class="dataTitle">Стерилізован:</p>
        <p>{{sterilized}}</p>
      </div>
      <div class="data">
        <p>{{animal.description}}</p>
      </div>
      <button class="btn check-book btn-primary" style="width: 150px;  margin-left: 130px;" *ngIf="!booked;else bookAnimal" (click)="alertConfirmation()">Забрати додому</button>
      <ng-template #bookAnimal>
        <button class="btn check-book btn-secondary" style="width: 250px; margin-left: 130px;">
          Тварина вже забронювана
        </button>
      </ng-template>
    </div>
    <div class="infobox-el">
      <div class="box-vaccine">
        <h2>Дані про вакцинацію</h2>
        <table class="table " style="background-color: white">
          <thead>
          <tr></tr>
          <tr>
            <td>Назва вакцини</td>
            <td>Дата вакцінациї</td>
            <td>Доза</td>
            <td>Хвороба</td>
          </tr>
          </thead>

          <tbody>
          <tr *ngFor="let vaccination of vaccinations">
            <td scope="row">{{vaccination.vaccine_name}}</td>
            <td scope="row">{{vaccination.date}}</td>
            <td scope="row">{{vaccination.doze}}</td>
            <td scope="row">{{vaccination.disease}}</td>
          </tr>
          </tbody>
        </table>
        </div>

              <div class="data-book">
                <h2>Коли можна приїхати познайомитися?</h2>
                <p>Ви можете обрати час щоб пограти чи погуляти з твариною, приїхавши до приюту</p>

                <div style="width: 700px;">
                  <div class="form-group">
                      <label for="data">Оберіть дату</label>
                      <input  class="form-control datepicker" id="data" type="date" placeholder="Оберіть дату" name="data" (change)="showTime()">
                  </div>
                  <div class="form-group">
                      <label for="time">Оберіть час</label>
                      <select id="time" name="time" class="form-select">
                        <option value="{{time}}" *ngFor="let time of times">{{time}}</option>
                      </select>
                  </div>
                </div><script type="text/javascript">

                $("#data").attr('startDate', new Date().toString());

              </script>
                <form action="" (ngSubmit)="book()" [formGroup]="addBooking">
                  <input id="date" type="datetime-local" name="date" [ngModel]="data + 'T' + time" formControlName="date" class="invisible">
                  <input id="animalId" type="text" name="animalId" formControlName="animalId" ngModel="{{animal.id}}" class="invisible">
                  <div class="text-center">
                    <button id="submitButton" type="submit" class="btn btn-primary" (click)="bookingConfirmation()">Забронюваті дату та час</button>
                  </div>
                </form>
      </div>
    </div>
  </div>
</div>
