#appContainer{
  height: 160%;
  width: 100%;
  max-width: 100%;
  bottom: 80px;
  background: transparent url(../../../../../img/bg1.png) repeat; background-attachment: fixed !important;
}
.block-info{
  display: flex;
  justify-content: space-between;
}
.infobox {
  background-color: #fff;
  margin: 60px 50px;
  max-width: 600px;
  width: 550px;
  color: #000;
  padding: 20px 15px;
  position: relative;
  text-shadow: none;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,0.31);
  border: 1px solid #7a7b7e;

  height: 100%;
  border-radius: 10px;
  text-align: center;
}
.infobox h2{
  position: relative;
  font-family: 'Montserrat Alternates', sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

.data{
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 5px 10px ;
  font-size: 22px;
  font-family: 'Montserrat Alternates', sans-serif;
}
.dataTitle{
  font-size: 18px;
  margin-top: 7px;
  color: #7a7b7e;
}
.data img {
  width: 60%;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 20px;
}
.box-vaccine{
  background-color: #fff;
  margin: 60px 0;
  max-width:100%;
  color: #000;
  padding: 20px 20px;
  position: relative;
  text-shadow: none;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,0.31);
  border: 1px solid #7a7b7e;
  width: 600px;
  border-radius: 10px;
  text-align: center;
}
.box-vaccine h2{
  position: relative;
  font-family: 'Montserrat Alternates', sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

.data-book h2{
  position: relative;
  font-family: 'Montserrat Alternates', sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

th {
  font-size: 22px;
  font-weight: 300;
  padding: 12px 10px;
  border-bottom: 2px solid #F56433;
  color: #F56433;
}

table {
  font-family: 'Montserrat Alternates', sans-serif;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 5px;
  background: #E1E3E0;
  border-radius: 20px;
  border: 1px solid black;
}
th {
  font-size: 18px;
  font-weight: 300;
  padding: 12px 10px;
  border: 1px solid black;
  color: #F56433;
  border-radius: 20px;
}
tr th{
  border: 1px solid black;
}
td {
  padding: 10px;
  border: 1px solid black;
}
button .btn .check-book{
  width: 150px;
}
p{
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 18px;
  font-weight: 400;
}
