<div id="appContainer">
  <app-header-unreg></app-header-unreg>
  <div class="block-info container-fluid">
    <div class="infobox row">
      <h2>Дані про тварину</h2>
      <div class="data">
        <img src="{{animal.imageUrl}}" alt="">
      </div>
      <div class="data">
        <p class="dataTitle">Кличка тварини:</p>
        <p>{{animal.name}}</p>
      </div>
      <div class="data">
        <p class="dataTitle">Вік тварини:</p>
        <p>{{animal.age}}</p>
      </div>
      <div class="data">
        <p class="dataTitle">Вид тварини:</p>
        <p>{{animal.species}}</p>
      </div>
      <div class="data">
        <p class="dataTitle">Стать тварини:</p>
        <p>{{animal.gender}}</p>
      </div>
      <div class="data">
        <p class="dataTitle">Стерилізован:</p>
        <p>{{sterilized}}</p>
      </div>
      <div class="data">
        <p>{{animal.description}}</p>
      </div>
      <button class="btn check-book btn-primary" style="width: 150px;  margin-left: 130px;" *ngIf="!booked;else bookAnimal" (click)="alertConfirmation()">Забрати додому</button>
      <ng-template #bookAnimal>
        <button class="btn check-book btn-secondary" style="width: 250px; margin-left: 130px;">
          Тварина вже забронювана
        </button>
      </ng-template>
    </div>
    <div class="infobox-el">
      <div class="box-vaccine">
        <h2>Дані про вакцинацію</h2>
        <!--<div class="data">
          <p class="">Тварина ще не вакцинована</p>
        </div>-->
        <div class="data">
          <p class="dataTitle">Назва вакцинації</p>
          <p>назва</p>
        </div>
        <div class="data">
          <p class="dataTitle">Дата вакцинації</p>
          <p>дата</p>
        </div>
        <div class="data">
          <p class="dataTitle">Доза вакцинації</p>
          <p>доза</p>
        </div>
        <div class="data">
          <p class="dataTitle">Вакцина от:</p>
          <p>от чего</p>
        </div>

      </div>
      <div class="data-book">
        <h2>Коли можна приїхати познайомитися?</h2>
        <p>Ви можете обрати час щоб пограти чи погуляти з твариною, приїхавши до приюту</p>

        <div style="width: 700px;">
          <div class="form-group">
              <label for="date">Оберіть дату</label>
              <input  class="form-control" id="date" type="date" placeholder="Оберіть дату" formControlName="date">
          </div>
          <div class="form-group">
              <label for="time">Оберіть час</label>
              <select id="time" name="time" class="form-select">
                <option value="" *ngFor="let time of times">{{time}}</option>
              </select>
          </div>
        </div>
<!--        <table class="table " style="background-color: white">-->
<!--          <thead>-->
<!--          <tr><th colspan="8">Грудень 2021</th></tr>-->
<!--          <tr>-->
<!--            <td></td>-->
<!--            <td>2021-12-20</td>-->
<!--            <td>2021-12-21</td>-->
<!--            <td>2021-12-22</td>-->
<!--            <td>2021-12-23</td>-->
<!--            <td>2021-12-24</td>-->
<!--            <td>2021-12-25</td>-->
<!--            <td>2021-12-26</td>-->
<!--          </tr>-->
<!--          </thead>-->

<!--          <tbody>-->
<!--          <tr *ngFor="let time of times">-->

<!--            <th scope="row">{{time}}</th>-->

<!--            <td><button class="btn btn-primary" (click)="alertConfirmation()" *ngIf="'';else loggedOut">Гуляти</button></td>-->
<!--            <ng-template #loggedOut>-->
<!--              <button class="btn btn-secondary">-->
<!--                Бронь-->
<!--              </button>-->
<!--            </ng-template>-->

<!--            <td><button class="btn btn-primary" (click)="alertConfirmation()" *ngIf="'';else loggedOut">Гуляти</button></td>-->
<!--            <ng-template #loggedOut>-->
<!--              <button class="btn btn-secondary">-->
<!--                Бронь-->
<!--              </button>-->
<!--            </ng-template>-->

<!--            <td><button class="btn btn-primary" (click)="alertConfirmation()" *ngIf="'';else loggedOut">Гуляти</button></td>-->
<!--            <ng-template #loggedOut>-->
<!--              <button class="btn btn-secondary">-->
<!--                Бронь-->
<!--              </button>-->
<!--            </ng-template>-->

<!--            <td><button class="btn btn-primary" (click)="alertConfirmation()" *ngIf="'';else loggedOut">Гуляти</button></td>-->
<!--            <ng-template #loggedOut>-->
<!--              <button class="btn btn-secondary">-->
<!--                Бронь-->
<!--              </button>-->
<!--            </ng-template>-->

<!--            <td><button class="btn btn-primary" (click)="alertConfirmation()" *ngIf="'';else loggedOut">Гуляти</button></td>-->
<!--            <ng-template #loggedOut>-->
<!--              <button class="btn btn-secondary">-->
<!--                Бронь-->
<!--              </button>-->
<!--            </ng-template>-->

<!--            <td><button class="btn btn-primary" (click)="alertConfirmation()" *ngIf="'';else loggedOut">Гуляти</button></td>-->
<!--            <ng-template #loggedOut>-->
<!--              <button class="btn btn-secondary">-->
<!--                Бронь-->
<!--              </button>-->
<!--            </ng-template>-->

<!--            <td><button class="btn btn-primary" (click)="alertConfirmation()" *ngIf="'';else loggedOut">Гуляти</button></td>-->
<!--            <ng-template #loggedOut>-->
<!--              <button class="btn btn-secondary">-->
<!--                Бронь-->
<!--              </button>-->
<!--            </ng-template>-->
<!--          </tr>-->
<!--          </tbody>-->
<!--        </table>-->
      </div>
    </div>
  </div>
</div>
