<div id="appContainer">
   <app-header-admin></app-header-admin>
   <div class="dataInfo">
      <div class="viewing">
         <div class="infobox">
            <h2>Дані про Вас</h2>
            <div class="data">
               <p class="dataTitle">Ім'я</p>
               <p>{{user?.name}}</p>
            </div>
            <div class="data">
               <p class="dataTitle">Прізвище</p>
               <p>{{user?.surname}}</p>
            </div>
            <div class="data">
               <p class="dataTitle">Номер мобільного телефону</p>
               <p>{{user?.phone}}</p>
            </div>
            <div class="data">
               <p class="dataTitle">Адреса електронної пошти</p>
               <p>{{user?.email}}</p>
            </div>

         </div>
         <div class="infobox">
            <h2>Дані про Ваш притулок</h2>
            <div class="data">
               <p class="dataTitle">Назва притулку</p>
               <p>{{shelter?.name}}</p>
            </div>
            <div class="data">
               <p class="dataTitle">Координати довготи</p>
               <p>{{shelter?.longitude}}</p>
            </div>
            <div class="data">
               <p class="dataTitle">Координати широти</p>
               <p>{{shelter?.latitude}}</p>
            </div>
            <div class="data">
               <p class="dataTitle">Номер мобільного телефону</p>
               <p>{{shelter?.phone}}</p>
            </div>
            <div class="data">
               <p class="dataTitle">Адреса електронної пошти</p>
               <p>{{shelter?.email}}</p>
            </div>
            <div class="data">
               <p class="dataTitle">Посилання на сайт</p>
               <p>{{shelter?.siteUrl}}</p>
            </div>
         </div>
      </div>
      <div class="text-center">
         <button id="submitButton" type="submit" class="btn btn-primary" (click)="routeToForms()">Змінити
            данні</button>
      </div>
   </div>
</div>
