<div id="appContainer">
   <app-header-admin></app-header-admin>
   <div class="dataInfo">
      <div class="viewing">
         <div class="register">
            <h2>Дані про Вас</h2>
            <div class="dataElement">
               <p>Ім'я</p>
               <p>Алєся</p>
            </div>
            <div class="dataElement">
               <p>Прізвище</p>
               <p>Лихова</p>
            </div>
            <div class="dataElement">
               <p>Номер мобільного <br>телефону</p>
               <p>380958306692</p>
            </div>
            <div class="dataElement">
               <p>Адреса електронної <br>пошти</p>
               <p>navwie@gmail.com</p>
            </div>
            <div class="dataElement">
               <p>Пароль</p>
               <p>12345678</p>
            </div>

         </div>
         <div class="register">
            <h2>Дані про Ваш притулок</h2>
            <div class="dataElement">
               <p>Назва притулку</p>
               <p>ПРИЮТ</p>
            </div>
            <div class="dataElement">
               <p>Координати довготи</p>
               <p>323</p>
            </div>
            <div class="dataElement">
               <p>Координати широти</p>
               <p>232</p>
            </div>
            <div class="dataElement">
               <p>Номер мобільного <br>телефону</p>
               <p>380958306692</p>
            </div>
            <div class="dataElement">
               <p>Адреса електронної <br>пошти</p>
               <p>navwie@gmail.com</p>
            </div>
            <div class="dataElement">
               <p>Посилання <br> на сайт</p>
               <p>https://translate.google.com/</p>
            </div>
         </div>
      </div>
      <div class="text-center">
         <button id="submitButton" type="submit" class="btn btn-primary" routerLink="/changeShelter">Змінити
            данні</button>
      </div>
   </div>
</div>