<div id="appContainer">
   <app-header-admin></app-header-admin>
   <div class="register">
      <div class="container-fluid">
         <div class="row">
            <!-- <div class="col-12"> -->
            <div id="CardStyle" class="card justify-content-center">
               <div class="card-body">
                  <form [formGroup]="addAnimal" (ngSubmit)="reg()">
                    <h2 class="text-center">Внесіть дані про тварину</h2>
                     <div class="form-group">

                        <label for="name" class="fas fa-user"></label>
                        <input id="name" type="text" placeholder="Введіть кличку" formControlName="name" ngModel>
                        <span class="text-danger"
                           *ngIf="addAnimal.controls.name.errors && addAnimal.controls.name.touched">
                           <br>Кличка тварини обов'язкова
                        </span>
                     </div>

                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-append">
                          <button id="buttonAge" class="fas fa-calendar" (click)="d.toggle()" type="button"></button>
                        </div>
                        <input  id="ageAnimal" type="text" placeholder="Вік тварини" formControlName="ageAnimal" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                        <span class="text-danger"
                              *ngIf=" addAnimal.controls.ageAnimal.errors && addAnimal.controls.ageAnimal.touched ">
                           <br>Вік тварини обов'язковиий
                        </span>
                      </div>
                    </div>


                     <div class="form-group">
                      <div class="animal">
                        <label  class="fas fa-paw"></label>
                        <p>Вид тварини</p>
                        <div class="radioChoice1">
                          <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" value="Кіт" id="typeAnimal1" formControlName="typeAnimal"  >
                            <label class="custom-control-label" for="typeAnimal1">Кіт</label>
                          </div>

                          <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" value="Собака" id="typeAnimal2" formControlName="typeAnimal" checked >
                            <label class="custom-control-label" for="typeAnimal2">Собака</label>
                          </div>
                        </div>
                      </div>
                     </div>

                    <div class="form-group">
                      <div class="animal">
                        <label  class="fas fa-paw"></label>
                        <p>Стать тварини</p>
                        <div class="radioChoice2">
                          <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" value="Чоловічий" id="sexAnimal1" formControlName="sexAnimal"  >
                            <label class="custom-control-label" for="sexAnimal1"> Ч . </label>
                          </div>

                          <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" value="Жіночий" id="sexAnimal2" formControlName="sexAnimal" checked >
                            <label class="custom-control-label" for="sexAnimal2">Жін.</label>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="animal">
                        <label  class="fas fa-paw"></label>
                        <p>Стерилізовані</p>
                        <div class="radioChoice3">
                          <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" value="Ні" id="sterilizationAnimal2" formControlName="sterilizationAnimal" checked >
                            <label class="custom-control-label" for="sterilizationAnimal2">Ні.</label>
                          </div>
                          <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" value="Так" id="sterilizationAnimal1" formControlName="sterilizationAnimal"  >
                            <label class="custom-control-label" for="sterilizationAnimal1">Так.</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="animal">
                        <label for="form1" class="fas fa-pencil-alt" ></label>
                        <p>Опис тварини</p>
                        <textarea type="text" id="form1" class="md-textarea md-textarea-auto form-control" formControlName = "description"></textarea>
                      </div>
                      <span class="text-danger"
                            *ngIf=" addAnimal.controls.description.errors && addAnimal.controls.description.touched ">
                           <br>Опис тварини обов'язковиий
                        </span>
                    </div>

                    <div class="form-group">
                      <div class="animal">
                        <label for="input-file-id" class="fas fa-file-image" ></label>
                        <p>Фото тварини</p>
                        <input class="ng-hide" id="input-file-id" multiple type="file" formControlName = "photoAnimal"/>
                      </div>
                      <span class="text-danger"
                                                        *ngIf=" addAnimal.controls.photoAnimal.errors && addAnimal.controls.photoAnimal.touched ">
                           <br>Фото тварини обов'язковиий
                        </span>
                    </div>

                     <div class="text-center">
                        <button id="submitButton" type="submit" class="btn btn-primary"
                           [disabled]="!addAnimal.valid">Зареєструвати</button>
                     </div>
                  </form>
            </div>

         </div>
        </div>
      </div>
   </div>
   <!-- </div> -->
</div>
<router-outlet></router-outlet>
