
<div id="appContainer">
  <app-header-unreg></app-header-unreg>
  <div class="findShelter container-fluid row col">
    <div class="findShelterItems col-5">
      <div class="shelter " data-bs-spy="scroll" *ngIf="!allShelters">

        <div class="shelterInfo" *ngIf="selected">
          <h3>{{selectedShelter?.name}}</h3>
          <p>Довгота: {{selectedShelter?.longitude}}</p>
          <p>Широта: {{selectedShelter?.latitude}}</p>
          <p>Зв'язатися : {{selectedShelter?.phone}}</p>
          <p>Сайт: <a href="{{selectedShelter?.siteUrl}}">{{selectedShelter?.siteUrl}}</a>	</p>
          <h3>Мешканці:	</h3>
          <div class="choiceDropdown">

            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary " id="dropdownBasic4" ngbDropdownToggle>{{selectedKind}}</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic4">
                <button ngbDropdownItem (click)="changeKind(item)" *ngFor = "let item of kind"
                >{{item}}</button>
              </div>
            </div>


            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownBasic5" ngbDropdownToggle>{{selectedYears}}</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic5">
                <button ngbDropdownItem (click)="changeYears(item)"  *ngFor = "let item of years">{{item}}</button>
              </div>
            </div>
          </div>

          <div class="radioChoice2">
            <p >Cтерилізовані:</p>
            <div class="radio2">
              <div class="form-check2">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4" value="true" (click)="changeSterilized(true)">
                <label class="form-check-label" for="flexRadioDefault1">
                  Так
                </label>
              </div>
              <div class="form-check2">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault5" value="false" (click)="changeSterilized(false)">
                <label class="form-check-label" for="flexRadioDefault2">
                  Ні
                </label>
              </div>
              <div class="form-check2">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault6" value="undefined" (click)="changeSterilized(undefined)">
                <label class="form-check-label" for="flexRadioDefault2">
                  Немає різниці
                </label>
              </div>
            </div>
          </div>
          <button id="submitButton1" class="btn btn-primary" (click)="getAnimals()">Фільтрувати</button>
          <div class="animals">
            <div class="animalsItem" *ngFor="let animal of animalsByShelter">
              <div class="animalInfo">
                <div class="animalsItemInfo" >
                  <p style="font-weight: bold; font-size: 16px">{{animal.name}}</p>
                  <p >Вік: {{animal.age}}</p>
                  <p >{{animal.gender}}</p>
                  <p >{{animal.species}}</p>
                </div>
                <div class="animalsItemPhoto">
                  <img src="{{animal.imageUrl}}" alt="" style="object-fit: cover;">
                </div>
              </div>
              <p>{{animal.description}}</p>
              <a (click)="goToFullInfo(animal.id)" style="cursor: pointer; color: blue;">Більше інформації</a>
            </div>


          </div>
        </div>
        <div *ngIf="!selected"><p style="text-align: center; margin-top: 20px; font-size: 21px">Оберіть притулок на карті шоб побачити його інформацію тут</p></div>
      </div>

      <div *ngIf="allShelters" class="shelter">
        <div class="animals">
          <div class="animalsItem" *ngFor="let animal of allAnimals">
            <div class="animalInfo">
              <div class="animalsItemInfo" >
                <p style="font-weight: bold; font-size: 16px">{{animal.name}}</p>
                <p >Вік: {{animal.age}}</p>
                <p >{{animal.gender}}</p>
                <p >{{animal.species}}</p>
                <p>Притулок: {{animal.shelterName}}</p>
              </div>
              <div class="animalsItemPhoto">
                <img src="{{animal.imageUrl}}" alt="" style="object-fit: cover;">
              </div>
            </div>
            <p>{{animal.description}}</p>
            <a (click)="goToFullInfo(animal.id)" style="cursor: pointer; color: blue;">Більше інформації</a>
          </div>


        </div>
      </div>
    </div>
    <div class="findShelterItems col-7">
      <div class="find">
        <h2>Оберіть притулок на мапі або шукайте по всім притулкам :</h2>
        <div class="choiceCriteria col-10">
          <div class="choiceDropdown">
            <div class="col">
              <div ngbDropdown class="d-inline-block ">
                <button class="btn btn-outline-primary dropdown-toggle " id="dropdownBasic1" ngbDropdownToggle>{{selectedKindAll}}</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button ngbDropdownItem (click)="changeKindAll(item)" *ngFor = "let item of kind"
                  >{{item}}</button>
                </div>
              </div>
            </div>
            <div class="col">
              <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-primary dropdown-toggle" id="dropdownBasic2" ngbDropdownToggle>{{selectedYears}}</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
                  <button ngbDropdownItem (click)="changeYears(item)"  *ngFor = "let item of years">{{item}}</button>
                </div>
              </div>
            </div>
            <!-- <div class="col">
              <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-primary" id="dropdownBasic3" ngbDropdownToggle>{{selectedCity}}</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic3">
                  <button ngbDropdownItem  (click)="changeCity(item)" *ngFor = "let item of city">{{item}}</button>
                </div>
              </div>
            </div> -->
          </div>

          <div class="radioChoice col-7">
            <p class="radioP">Cтерилізовані</p>
            <div class="radio">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" (click)="changeSterilizedAll(true)">
                <label class="form-check-label" for="flexRadioDefault1">
                  Так
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" (click)="changeSterilizedAll(false)">
                <label class="form-check-label" for="flexRadioDefault2">
                  Ні
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" (click)="changeSterilizedAll(undefined)">
                <label class="form-check-label" for="flexRadioDefault2">
                  Немає різниці
                </label>
              </div>
            </div>
          </div>
        </div>
        <button id="submitButton" type="submit" class="btn btn-primary" (click)="searchAllShelters()">Шукати</button>
        <div id="map" class="col-6"></div>
      </div>
    </div>
  </div>
</div>



<router-outlet></router-outlet>
